<div class="animated fadeIn">
    <!--/.row-->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Product Details
                </div>
                <div class="card-body">
                <div class="table-responsive">
                        <table class="table table-hover" style="background-color:#2f353a">
                                <tr style="color:white">
                                    <td>No.</td>
                                    <td>Product Image</td>
                                  <td style="color:white"> Product Name</td>
                                  <td>Industry</td>
                                  <td>Actions</td>
                                </tr>
                                <tr *ngFor="let i of service.list" style="color:white">
                                <td style="color:white" (click)="populatedform(i)">{{i.id}}</td>
                                  <td style="color:white; padding:5px;"><img width="100px" height="100px" src="{{i.image_url}}"></td>
                                  <td (click)="populatedform(i)">{{i.name}}</td>
                                  <td>{{i.industry}}</td>
                                  <!-- <td (click)="populatedform(i)">{{i.state}}</td> -->
                                  <td> <i class="fa fa-pencil fa-lg mt-4" (click)="openDialog(i.id)"></i> &nbsp;&nbsp;
                                    <i class="fa fa-trash fa-lg mt-4" (click)="deleteproduct(i.id)"></i></td>
                                  <!-- <td></td> -->
                                </tr>
                              </table>
                </div>
                    <!-- <div class="">
                        <mat-table [dataSource]="dataSource">

                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                                <mat-cell *matCellDef="let user"> {{user.id}} </mat-cell>
                            </ng-container>

                           
                            <ng-container matColumnDef="image_url">
                                <mat-header-cell *matHeaderCellDef> Image </mat-header-cell>
                                <mat-cell *matCellDef="let user" style="padding:5px;"> <img width="100px" height="100px" src="{{user.image_url}}"></mat-cell>
                              </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> Products </mat-header-cell>
                                <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="industry">
                                <mat-header-cell *matHeaderCellDef> Industry </mat-header-cell>
                                <mat-cell *matCellDef="let user"> {{user.industry}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                <mat-cell *matCellDef="let row">

                                    <div class="col-6 col-sm-4 col-md-3 col-xl-2">
                                        <i class="fa fa-pencil fa-lg mt-4" (click)="openDialog()"></i> </div>

                                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                                        <i class="fa fa-trash fa-lg mt-4" (click)="delete()"></i> </div>
                                    <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
                                        <button type="button" class="btn btn-primary" flex="100" (click)="update()">Update
                                            Stock</button>
                                    </div>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                        </mat-table>
                    </div> -->
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>